@font-face {
  // regular
  font-family: plex-sans;
  src: url("../../assets/fonts/plex-sans/IBMPlexSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  // regular
  font-family: plex-sans;
  src: url("../../assets/fonts/plex-sans/IBMPlexSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  // regular
  font-family: plex-sans;
  src: url("../../assets/fonts/plex-sans/IBMPlexSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  // regular
  font-family: plex-sans;
  src: url("../../assets/fonts/plex-sans/IBMPlexSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  // regular
  font-family: plex-sans;
  src: url("../../assets/fonts/plex-sans/IBMPlexSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
