$primary-text: #2e3333;
$primary-background: #ffffff;
$primary-logo-color: #00ccbb;
$primary-accent-color: #00a396;
$primary-color-demi: #e5e3e3;

// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
