@use "../../styles/partials/breakpoint" as *;
@use "../../styles/partials/variables" as *;

.manage-addresses {
  &__title {
    font-size: 1rem;
  }
  &__link {
    text-decoration: none;
  }
  &__list {
    list-style: none;
    padding: 0 1rem;
    width: 90%;
  }
  &__list-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $primary-color-demi;
    padding: 1rem 0;
  }
  &__list-text {
    font-size: 1rem;
    margin: 0;
    padding-left: 1rem;
  }
}
